<h2>Insert credentials of the new editor:</h2>
  <form action="<%= @blog.id %>/add_editors" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <br>
    <br>
    <table class="table">
    <tr>
      <h6> email : </h6>
      <input type="text" name="email">   
    </tr>
    <br>
    <br>
    <tr>
      <input type="submit" value="Add" />
    </tr>
  </table>
</form>
</br>
