<div class="container-fluid" style="margin-top:10px; margin-bottom:10px;">
<div class="row container-fluid">
    <div class="col" style="max-width:60%; max-height:100%;">
      <div class="card">
        <div class="card-header pastel_colour_blue" style="text-align:center;">
          <h2>Researched Bloggoes</h2>
          </div>
          <div class="card-body">
            <% if (@blogs) %>
              <% if (@blogs.empty?) %>
            <h2>No Bloggoes found.<h2>
              <% else %>
                <% @blogs.each do |blog| %>
                  <%= render blog %>
                    <% end %>
                      <% end %>
                <% else %>
                <p>Use the search form to search for stuff.</p>
            <% end %>
        </div>

      </div>
    </div>
    <div class="col" style="max-width:40%; max-height:100%;">
      <div class="card" style="min-height: 22%;max-height: 22%">
      <div class="card-header pastel_colour_yellow" style="text-align:center; ">
        <h2> Researched Taggoes</h2>
      </div>
      <div class="card-body">
        <% if (@tags) %>
          <% if (@tags.empty?) %>
        <h2>No Bloggoes found.<h2>
          <% else %>
            <% @tags.each do |tag| %>
              <%= render tag %>
                <% end %>
                  <% end %>
            <% else %>
            <p>Use the search form to search for stuff.</p>
        <% end %>

        </div>
      </div>
      <div class="card" style="min-height: 45%; max-height:85%; margin-top: 15px;">
          <div class="card-header pastel_colour_green" style="text-align:center;">
            <h2>Researched Postoes</h2>
          </div>
          <% if (@posts) %>
              <% if (@posts.empty?) %>
            <h2>No Postoes found.<h2>
          <% else %>
          <% @posts.each do |post| %>
              <%= render post %>
            <% end %>
          <% end %>
        <% else %>
          <p>Use the search form to search for stuff.</p>
         <% end %>

          </div>
    </div>
  </div>
</div>
