<link rel="stylesheet" href="styles.scss">
<div class="container-fluid" style="margin-top:10px; margin-bottom:10px;">
	<div class="jumbotron" style="margin-top: 20px;">

		<img src="<%= asset_path('blog_profile_example.jpg') %>" class="text-center rounded mx-auto d-block" style="margin-top: 50px;" alt="Bloggo Profile Pic Example"> 
		<h1 class="text-center"><%= @user.email %></h1>

		<div class="row" style="margin-top: 80px; margin-left: 300px; margin-right: 300px;">
    	<div class="col-sm text-center">
      	<h3> Blogs</h3>
      	<h6> <%= @blog.count %></h6>
    	</div>
  	</div>
	</div>

  <div class="row container-fluid">
    <div class="col-6"">
      <div class="card">
        <div class="card-header pastel_colour_yellow" style="text-align:center;">
          <h2>Favourite Bloggoes</h2>
        </div>
        <div class="card-body">
          <h3> No bloggoes found! </h3>
        </div>
      </div>
    </div>
    <div class="col-6"">
      <div class="card">
        <div class="card-header pastel_colour_red " style="text-align:center;">
          <h2>Favourite Postoes</h2>
        </div>
        <div class="card-body">
          <h3> No Postoes found! </h3>
        </div>
      </div>
    </div>
  </div>
</div>