<div class="container">
	<div class="jumbotron">
		<h1>Edit Post</h1>
		<%= render 'form' %>
		<%= link_to '<i class="fas fa-undo"></i> Back'.html_safe, blog_path(@post.blog), class: "btn btn-dark" %>
	</div>
</div>