/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "froala_editor.min";
@import "froala_style.min";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "blogs";
@import "posts";
@import "comments";
@import 'bootstrap';

.pastel_colour_blue {
	background : #bbd7e8;
}

.pastel_colour_red {
	background : #e8bbbb;
}

.pastel_colour_yellow {
	background : #e8e8bb; 
}

.pastel_colour_green {
	background : #bbe8be; 
}

.pastel_colour_navbar, .pastel_colour_footer {
	background: #82d8ca;
}

.fab {
	padding: 2%;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}

.fab:hover {
	opacity: 0.7;
}

.fa-facebook-f {
	background: #3B5998;
	color: white;
}

.fa-google-plus-g {
	background: #dd4b39;
	color: white;
}

.fa-linkedin-in {
	background: #007bb6;
	color: white;
}

.fa-instagram {
	background: #517fa4;
	color: white;
}

.fa-pinterest {
	background: #cb2027;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}